---
title: えびこん。～なんかなつ～
tags:
- Ebicon 007 Summer
- abstract
layout: layouts/base.njk
eleventyComputed:
    card_description: "{{ eventDate | readableJaDate }}～に奈良県奈良市で開催したTRPGコンベンション「{{ title }}」の開催概要です。"
date: 2017-08-12
eventDate: 2017-08-12 10:00
eventEndTime: "19:30(最大)"
playerClosingDate: 2017-08-11 10:00
masterClosingDate: 2017-08-11 10:00
maxTable: 10
---
{% extends 'layouts/abstracts.njk' %}
{% block price %}
    <h3>参加料</h3>
    <dl>
        <dt>一般参加</dt>
        <dd>500円/人</dd>
        <dt>えび尻尾</dt>
        <dd>400円/人</dd>
        <dt>スタッフ</dt>
        <dd>0円 (代表以外)</dd>
    </dl>
    <h4>利用目的</h4>
    <div>
        主として会場費、運営雑費、あとサーキュレーターのレンタル代金。
    </div>
{% endblock %}
{% block table %}
    <h3>対象システム</h3>
    開催当日に発売済みのTRPGシステムまたは、フリー公開中のTRPGシステム、あるいはボードゲームのうち、U18でも遊べるもの。よくわからない人は問い合わせ下さい。
    <h3>卓</h3>
    最大10卓。事前に申し込み済みの卓、または「かんたんキルデス」のみ。<br>
    今回は先着順での受付はしません。特にシステムを調整することもありませんが、対象システムや参加要項を満たしていないと思われる卓、そもそもHQが読解と判断ができなかった卓に関しては事前確認の上で却下する場合があります。
{% endblock %}
{% block content %}
<h3>コンセプト</h3>
業務用サーキュレーター試したいからついでにコンベンションにしとくわ。

<h3>スケジュール(決まっている部分だけ)</h3>
10:00 開場<br>
10:55 開会<br>
12:00- セッション時間<br>
19:30 飽きてきたら解散(閉会式なし)<br>
20:00 完全撤収

<h3>懇親会</h3>
Ebicon HQでは行いません。

<h3>卓分け方式</h3>
未定、集まったGM数次第でホワイトボード、卓移動、ギロチン、電子抽選のどれか。

<h3>卓優先権(鹿詣で特典)</h3>
2017年8月11日(金/全日)、2017年08月12日(土/開会式前まで)の日付がわかる、
奈良県内の美術館、博物館、特別展示、神社仏閣、その他観光施設の入場半券を持参されたプレイヤーの方に卓優先権を付与します。<br>
GMで立卓した方には卓優先”券”を付与します。
{% endblock %}