---json
{
  "permalink": "feed.json",
  "eleventyExcludeFromCollections": true
}
---
{% set absoluteUrl %}{{ site.feed.path | url | absoluteUrl(metadata.url) }}{% endset %}
{
  "version": "https://jsonfeed.org/version/1",
  "title": "{{  site.meta.title }}",
  "home_page_url": "{{ metadata.url }}",
  "feed_url": "{{ absoluteUrl }}",
  "description": "{{ site.meta.subtitle }}",
  "author": {
    "name": "{{ site.meta.authorName }}",
    "url": "{{ site.meta.authorUrl }}"
  },
  "items": [
    {%- for post in collections.post | reverse %}
    {%- set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset -%}
    {
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "title": "{{ post.data.title }}",
      "content_html": {% if post.templateContent %}{{ post.templateContent | dump | safe }}{% else %}""{% endif %},
    "date_published": "{{ post.date | dateToRfc3339 }}"
    }
    {% if not loop.last %},{% endif %}
    {%- endfor %}
  ]
}