---
title: Ebicon ふぃふす。
tags:
- Ebicon fifth
- abstract
layout: layouts/base.njk
eleventyComputed:
    card_description: "{{ eventDate | readableJaDate }}～に奈良県奈良市で開催したTRPGコンベンション「{{ title }}」の開催概要です。"
date: 2016-05-22
eventDate: 2016-05-22 10:00
eventEndTime: "19:30(最大)"
playerClosingDate: 2016-03-31 23:59
masterClosingDate: 2016-03-31 23:59
maxTable: 4
---
{% extends 'layouts/abstracts.njk' %}

{% block table %}
<h3>立卓するかもしれないシステム(4/17時点)</h3>
インセイン、シノビガミ、ビギニングアイドル、ブラッドムーン、アマデウス、サタスペ
→完全当日卓分けで4卓規模となります。
{% endblock %}
{% block place %}
<pre>    〒630-8225
    奈良県奈良市西御門町11-11（プライムビル4F）
    近鉄奈良駅西改札5番出口横、「レンタルスペースかねこ」様</pre>
{% endblock %}
{% block price %}

    <h3>参加料</h3>
    <dl>
        <dt>一般参加</dt>
        <dd>500円/人</dd>
        <dt>えび尻尾</dt>
        <dd>400円/人</dd>
        <dt>スタッフ</dt>
        <dd>0円 (代表以外)</dd>
    </dl>
    <p>募金箱が設置されます。</p>
    <h4>利用目的</h4>
    主として会場費、運営雑費。ほぼ会場費。余剰はEbicon 5thと同ルールで扱います。
{% endblock %}
{% block content %}
<h3>スケジュール(決まっている部分だけ)</h3>
10:00 開場<br>
10:30-11:30 開会式-卓分け完了まで<br>
19:30 飽きてきたら解散

<p>閉会式は行いません。</p>
<h3>懇親会</h3>
<p>Ebicon HQでは行いません。</p>
<h3>卓分け方式</h3>
第一希望、第二希望を元にした電子抽選。

<h3>参加申し込みの取り扱い</h3>
<p>GM・PLを同時に受付開始、最終結果から取れそうな会場を捜索。会場決定後、正式な上限を決定した後、参加確認を行い次の順位で受付します。</p>
<ol>
    <li>Ebicon 5th非参加者</li>
    <li>(GMの場合)Ebicon 5thでGMをしていない</li>
    <li>奈良県民</li>
    <li>いずれにも該当しない(抽選)</li>
</ol>
<h3>卓優先権(鹿詣で特典)</h3>
<p>2016年5月20日(金/全日)、2016年05月21日(土/全日)、2016年05月22日(日/開会式前まで)の日付がわかる、<br />奈良県内の美術館、博物館、特別展示、神社仏閣、その他観光施設の入場半券を持参されたプレイヤーの方に卓優先権を付与します。<br />GMで立卓した方にはなんか考えます、ちゃっちいの。</p>
{% endblock %}