---
title: Ebicon 1th
tags:
- Ebicon 1th
- abstract
layout: layouts/base.njk
eleventyComputed:
    card_description: "{{ eventDate | readableJaDate }}～に奈良県奈良市で開催したTRPGコンベンション「{{ title }}」の開催概要です。"
date: 2014-04-12
eventDate: 2014-04-12 10:00
eventEndTime: "21:00(最大)"
playerClosingDate: 2014-04-05 23:59
masterClosingDate: 2014-03-20 23:59
maxTable: 10
---
{% extends 'layouts/abstracts.njk' %}

{% block price %}
    <h3>参加料</h3>
    <dl>
        <dt>一般参加</dt>
        <dd>500円/人</dd>
        <dt>えび尻尾</dt>
        <dd>0円/人</dd>
        <dt>スタッフ</dt>
        <dd>0円 (代表以外)</dd>
    </dl>
    <h4>利用目的</h4>
    <div>
        主として会場費、運営雑費、額によって各卓差し入れなど。<br>
        残額については、<a title="奈良の鹿愛護会" href="http://naradeer.com/" target="_blank" rel="noopener">奈良の鹿愛護会</a>へ寄付予定です。
    </div>
{% endblock %}

{% block table %}
    <h3>卓</h3>
    公募卓:6-7 企画卓:1 名指し卓:1-2 最大8卓予定。
{% endblock %}

{% block content %}
<h3>スケジュール(決まっている部分だけ)</h3>
10:00 開場<br>
10:45 GM集合時刻(事前確認)<br>
11:00 開会式、卓紹介、GM質問タイム(10分程度)<br>
11:30- 卓分け開始<br>
12:00-19:30 セッション時間<br>
18:30 アンケート配布<br>
19:30 閉会式<br>
-20:30 セッション延長時間<br>
21:00 スタッフ完全撤収(終了後懇親会)

<h3>卓分け方式</h3>
結局なににしたんですっけ? - 2022/03/18 : Tennana

<h3>懇親会</h3>
参加資格:寝床に辿りつける時間に帰る意志力があること。<br>
留意事項:料理はえび好みで決まります。今回はインドです。額の過不足が出た場合は運営会計に加えて扱います。

<pre>
予算:1人2500-3500円ほど
会場:なら街横丁(東向き商店街)
時間:21:00開始、長くても22:45ぐらいには終了
参加資格:Ebicon参加者(区分問わず)
人数:先着15名(09日夜で残り4名)

料理:※店舗側の準備の都合上、水曜22:00までに参加表明があった場合。これ以降の場合はコースなしの単品注文。
なら街横丁食べ歩きコース(\2500 + 飲み放題1時間\1000\3500 飲み放題1時間付きで統一)
街横丁堪能コース(\3500 + 飲み放題1時間\1000)

■焼鳥盛り合わせ
■鴨野菜炒め
■エビのチリソース
■造り盛り合わせ
■だし巻き
■鳥のタタキ三点盛り
■焼き餃子
</pre>
{% endblock %}