---
title: Ebicon 4th
tags:
- Ebicon 4th
- abstract
layout: layouts/base.njk
eleventyComputed:
    card_description: "{{ eventDate | readableJaDate }}～に奈良県奈良市で開催したTRPGコンベンション「{{ title }}」の開催概要です。"
date: 2015-10-24
eventDate: 2015-10-24 10:00
eventEndTime: "21:00(最大)"
playerClosingDate: 2015-10-22 23:59
masterClosingDate: 2015-10-05 23:59
maxTable: 10
---
{% extends 'layouts/abstracts.njk' %}

{% block table %}
    <h3>卓</h3>
    8卓+ナーラー階域卓で9卓を予定。
{% endblock %}
{% block content %}
<h3>スケジュール(決まっている部分だけ)</h3>
10:00 開場<br>
10:45 GM集合時刻(事前確認)<br>
10:55 開会式(代表の妄言、会場諸注意、卓紹介など)<br>
11:30- 卓分け開始<br>
12:00-18:25 セッション時間<br>
18:30 閉会式(読み:えびがGMを煽っていく会)<br>
-20:30 セッション延長時間<br>
20:45 懇親会スタート<br>
21:00 スタッフ完全撤収(終了後懇親会予定)

<h3>卓分け方式</h3>
卓移動方式予定。<br>
それでも受け入れ人数を越えた場合は抽選。<br>
GMによるd6,d8,d10あたりで決定。<br>
※卓分けに際して特に強い希望がある場合は、参加申し込み時に記載して鹿に頭を下げると考慮される場合がありますが、保証されません。

<h3>懇親会</h3>
参加資格:寝床に辿りつける時間に帰る意志力があること。<br>
留意事項:料理はえび好みで決まります。今回はインドです。額の過不足が出た場合は運営会計に加えて扱います。

<pre>
会場: ハイボール酒場 WESTERN様 ハイボール酒場 WESTERN
時間:20:45開始、23:00ぐらいには終了。途中帰宅あり。
参加資格:Ebicon参加者(区分問わず)
参加人数:34名(10/12時点)
参加費:3500円or4000円(※2)
コース: 飲み放題付き120分プラン+ビュッフェ形式　(※HP記載のオーダーバイキングではありません)
申し込み期限:10/18 18:00

店の都合上、「申し込み・キャンセルは10/18の18:00」までにお願いします。その時点で取りまとめて変更を通知します。
料理についてはダイスが振れなかったので、前回同様若者向け3で丸投げしております。
</pre>
{% endblock %}