---
title: Ebicon 2th
tags:
- Ebicon 2th
- abstract
layout: layouts/base.njk
eleventyComputed:
    card_description: "{{ eventDate | readableJaDate }}～に奈良県奈良市で開催したTRPGコンベンション「{{ title }}」の開催概要です。"
date: 2014-10-04
eventDate: 2014-10-04 10:00
eventEndTime: "21:00(最大)"
playerClosingDate: 2014-09-26 23:59
masterClosingDate: 2014-09-26 23:59
maxTable: 8
---
{% extends 'layouts/abstracts.njk' %}

{% block price %}
    <h3>参加料</h3>
    <dl>
        <dt>一般参加</dt>
        <dd>500円/人</dd>
        <dt>えび尻尾</dt>
        <dd>0円/人</dd>
        <dt>スタッフ</dt>
        <dd>0円 (代表以外)</dd>
    </dl>
    <h4>利用目的</h4>
    <div>
        主として会場費、運営雑費、額によって各卓差し入れなど。<br>
        残額については、<a title="奈良の鹿愛護会" href="http://naradeer.com/" target="_blank" rel="noopener">奈良の鹿愛護会</a>へ寄付予定です。
    </div>
{% endblock %}

{% block table %}
    <h3>卓</h3>
    公募卓:6-7 企画卓:1 名指し卓:1-2 最大8卓予定。
{% endblock %}
{% block content %}
<h3>スケジュール(決まっている部分だけ)</h3>
10:00 開場<br>
10:45 GM集合時刻(事前確認)<br>
11:00 開会式、卓紹介、GM質問タイム(10分程度)<br>
11:30- 卓分け開始<br>
12:00-19:30 セッション時間<br>
18:30 アンケート配布<br>
19:30 閉会式<br>
-20:30 セッション延長時間<br>
21:00 スタッフ完全撤収(終了後懇親会予定)

<h3>卓分け方式</h3>
卓移動方式、1卓に7人以上集中した場合、当日参加者は全員脱落。<br>
それでも受け入れ人数を越えた場合は抽選。<br>
GMによるd6,d8,d10あたりで決定。

<h3>懇親会</h3>
参加資格:寝床に辿りつける時間に帰る意志力があること。<br>
留意事項:料理はえび好みで決まります。今回はインドです。額の過不足が出た場合は運営会計に加えて扱います。

<pre>
会場: ハコシタ様 http://r.gnavi.co.jp/kac4100/
時間:21:00開始、22:50ぐらいには終了1。途中帰宅あり。
参加資格:Ebicon参加者(区分問わず)
参加人数:18名(09/27時点)
コース:☆お気軽コース 6品(飲み放題100分付) 3500円

■小鉢
■サラダ
■唐揚げ
■ちりとり鍋(赤・白)
■鍋の〆(うどんor中華めん)
■デザート

参加申し込み・キャンセル締め切り:10月2日までに代表まで

とりいいですね、とり。座敷は取れなかったのでまだ多少増えても大丈夫ですが、
店側の都合もありますので、原則「10月2日まで」にお申し込み頂きますようよろしくお願いします。
</pre>
{% endblock %}