---
title: Ebicon 5th
tags:
- Ebicon 5th
- abstract
layout: layouts/base.njk
eleventyComputed:
    card_description: "{{ eventDate | readableJaDate }}～に奈良県奈良市で開催したTRPGコンベンション「{{ title }}」の開催概要です。"
date: 2016-05-21
eventDate: 2016-05-21 10:00
eventEndTime: "21:00(最大)"
playerClosingDate: 2016-05-19 23:59
masterClosingDate: 2016-05-08 23:59
maxTable: 10
---
{% extends 'layouts/abstracts.njk' %}

{% block place %}
    <h3>場所</h3>
    <p>奈良県奈良市登大路町６−２ <a href="http://www.pref.nara.jp/1717.htm">奈良県文化会館多目的室・和室「かすが」</a></p>
{% endblock %}

{% block table %}
    <h3>卓</h3>
    今回は8卓+ナーラー階域卓+和室卓で10卓を予定。
{% endblock %}

{% block content %}
<h3>スケジュール(決まっている部分だけ)</h3>
10:00 開場<br>
10:55 開会式(代表の妄言、会場諸注意、卓紹介など)<br>
11:30- 卓分け開始<br>
12:00- セッション時間<br>
18:30 閉会式(様子を見て±30分することがあります)<br>
19:40 懇親会移動開始<br>
-20:30 セッション延長時間<br>
21:00 スタッフ完全撤収(終了後懇親会予定)

<h3>卓分け方式</h3>
卓移動方式予定。<br>
それでも受け入れ人数を越えた場合は抽選。<br>
GMによるd6,d8,d10あたりで決定。<br>
※卓分けに際して特に強い希望がある場合は、参加申し込み時に記載して鹿に頭を下げると考慮される場合がありますが、保証されません。

<h3>懇親会</h3>
参加資格:寝床に辿りつける時間に帰る意志力があること。<br>
留意事項:料理はえび好みで決まります。今回はインドです。額の過不足が出た場合は運営会計に加えて扱います。

<pre>
時間:20:00開始、22:00ぐらいには終了。途中帰宅あり。
参加資格:Ebicon参加者(区分問わず)、Ebicon参加経験者
参加人数:34+2名(04/17時点)
参加費:3550円or3500円(50円がめんどうくさい)
コース: 飲み放題付き120分オーダーバイキングプラン　[メニューはこちら]
申し込み期限:05/18 21:00

あらかじめ準備に時間のかかる料理のうち、次のものをEbicon HQから事前注文しています。苦手なものがあったら隣の人にあげるかえびの餌にしてください。
無闇に料理を残す行いはHQの帳簿に記録されます。

9種類のカレーを4皿ずつとプレーンナン
サモサ(インド風餃子)
フィッシュティッカ(魚の串焼き)
チキンチリー(ピリ辛チキン)
ベジタブルパコラ(インド風野菜の天ぷら)
</pre>
{% endblock %}