---
title: Ebicon 14th
tags:
- Ebicon 14th
- abstract
layout: layouts/base.njk
eleventyComputed:
    card_description: "{{ eventDate | readableJaDate }}～に奈良県奈良市で開催予定のTRPGコンベンション「{{ title }} ～14からの帰還～」の開催概要です。"
eventDate: 2023-03-18 10:00
eventEndTime: "20:00(最大)"
playerClosingDate: 2023-03-18 09:30
masterClosingDate: 2023-03-12 23:59
maxTable: 6
---
{% extends 'layouts/abstracts.njk' %}
{% block table %}
    <h3>卓</h3>
    定員25名厳守のため、5-6卓程度
{% endblock %}

{% block content %}
<h3>テーマ</h3>
<span>Ebicon 14th ～14からの帰還～</span>
<p>会場の奈良県文化会館が2026年度まで閉館となるため、這い出てきました。でもあんまり気にせずデッドマンを塵にしたり生き残ったりしましょう。</p>

<h3>諸注意</h3>
<span>予算の都合上、過去にやっていたソーダストリームやプリンタ等の機材設置はありません。また、奈良県文化会館の指導に基づき、特に以下の規制を行います。</span><ol>
　<li>受付時に全員、検温含む体調とマスク着用、手指消毒の確認を致します。また入退室時に抜き打ちでお声かけする場合があります。</li>
  <li>受付時までに、感染症発生時の連絡先を頂戴いたします。日常的に確認されていればメール、Twitterアカウントでも問題はなく、本情報は同目的にのみ利用され、会場へも提出されません。</li>
　<li>室内では食事禁止、水筒・ペットボトル飲料のみ可です。飲食時以外はマスクを外さないようにして下さい。また、咳エチケットの徹底をお願いします。</li>
　<li>座席を動かさないで下さい。アクリル板等の仕切りはありませんが、座席は同卓の参加者同士が正対しないよう配置されます。</li>
  <li>気持ちはわかりますが大声は控えて下さい。必要であればマイクを持っていきます。</li>
  <li>会館職員の指示と本諸注意・参加規約が矛盾した場合、会館職員の指示が正となります。</li>
</ol>

<h3>スケジュール(おおらか)</h3>
10:00 開場<br>
10:55 開会式(代表の妄言、会場諸注意、卓紹介など)、卓分け<br>
11:40- セッション時間<br>
18:30 閉会式(様子を見て±30分することがあります)<br>
20:00 完全撤収

<h3>卓分け方式</h3>
当日卓分け。やり方はスマホ抽選になるかもしれません(間に合えば)。

<h3>懇親会</h3>
公式には開催しません。

<h3>参加申込</h3>
<a href="/pages/rule/">参加規約</a>を確認の上、同ページ内のリンクから申し込み下さい。

<h3>卓情報</h3>
{%- for post in collections[tags[1]] -%}
{% if post.data.tags.includes('abstract') == false %}
  <li{% if page.url == post.url %} aria-current="page"{% endif %}><a href="{{ post.url }}">{{ post.data.title }}</a></li>
{% endif %}
{%- endfor -%}

{% endblock %}
