<!DOCTYPE html>
<html lang="{{ site.meta.lang }}">
<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} | {{ site.meta.title }}{% else %}{{ site.meta.title }}{% endif %}</title>
  <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.meta.description }}{% endif %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="shortcut icon" href="{{ '/static/img/favicon.ico' | url }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ '/static/css/main.css' | url }}" media="all">
  {% set type %}
    {% if page.url == '/' %}website{% else %}article{% endif %}
  {%- endset %}
  {% metagen
    title=title or site.meta.title,
    desc=card_description or description or site.meta.description,
    locale="ja_jp",
    url=site.meta.siteUrl + page.url,
    img= card_image or ((url or site.meta.siteUrl) + "/static/img/twitter_card.jpg"),
    type= type,
    img_alt="#trpg_ebicon",
    twitter_card_type="summary",
    twitter_handle="tennana_tef",
    name="Ebicon HQ",
    site_name=meta.title,
    generator="eleventy"
  %}
  {% eleventyGoogleFonts "https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" %}
</head>
<body>
  {% include 'components/navbar.njk' %}
  {{ content | safe }}
  {% include 'components/footer.njk' %}
  <script src="{{ '/static/base.js' | url }}" async></script>
</body>
</html>
