---
pagination:
    data: table
    size: 1
    alias: table
permalink: "events/{{ eventTag | slug }}/table_{{ (pagination.pageNumber + 1) | tableNumber }}/"
eleventyComputed:
  title: "{{ table.name }}"
layout: layouts/post.njk
---

<h4>立卓予定システム</h4>
{{ table.system }}

<h4>対応レベル</h4>
{{ table.lv }}

<h4>対応可能人数</h4>
{{ table.people }}

<h4>必須の持ち物</h4>
{{ table.items }}

<h4>卓概要</h4>
{{ table.content }}

<div class="pagination">
	{% if pagination.previous %}
		<a href="{{ pagination.href.previous | url }}" class="pagination__prev">&larr; Prev Table</a>
	{% endif %}
	{% if pagination.next %}
		<a href="{{ pagination.href.next | url }}" class="pagination__next">Next Table &rarr;</a>
	{% endif %}
</div>
